// Place all the styles related to the day controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$calendarWidth: 760px;
$slotWidth: 100px;
$slotHeight: 25px;
$titleHeight: 35px;
$railWidth: 50px;
$railPadding: 10px;

$lozengeWidth: 98px;
$lozengeHeight: 23px;

*{
  font-family: arial;
}

#calendar{
  float: left;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: $calendarWidth;
  cursor: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.monday { background-color: rgba(76, 103, 255, 0.51); }
.tuesday { background-color: rgba(130, 201, 255, 0.49); }
.wednesday { background-color: rgba(76, 103, 255, 0.51); }
.thursday { background-color: rgba(130, 201, 255, 0.49); }
.friday { background-color:  rgba(76, 103, 255, 0.51); }
.saturday { background-color: rgba(126, 126, 126, 0.48); }
.sunday { background-color:rgba(126, 126, 126, 0.48); }

.title {
  float: left;
  height: $titleHeight;
  width: $slotWidth;
  border-top: none;
  text-align: center;
  padding-top: 15px
}

.slot {
  float: left;
  height: $slotHeight;
  width: $slotWidth;
  border: none;

}
.rail {
  width: $railWidth;
  text-align: right;
  padding-right: $railPadding;
}

.lozenge {
  /* background-color: rgba(240, 51, 170, 0.48); */
  /* border: 1px solid #ff33aa; */
  background-color: #4fff51;
  border: 1px solid #0fc216;
  border-radius: 6px;

  width:$lozengeWidth;
  height:$lozengeHeight;


  input {
    width: 95%;
    border: none;
    background: none;
    border-bottom: 1px dotted #7e2f63;
    height: 8px;
    font-size: 9px;
  }
}

.lo {
  border-left: 1px solid #4fff51;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.to {
  border-top: 1px solid #4fff51;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}


.ro {
  border-right: 1px solid #4fff51;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.bo {
  border-bottom: 1px solid #4fff51;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


.close-x-icon{
  position: absolute;
  position-bottom: 0px;
  right: 0px;
  bottom: 0px;
  padding: 2px 2px 2px 2px;
}
