// Place all the styles related to the day controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar{
  float: left;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 740px;
  cursor: auto;
}

.monday { background-color: rgba(120, 197, 99, 0.53); border-top: solid 1px #78C563;}
.tuesday { background-color: rgba(130, 201, 255, 0.49) ; border-top: solid 1px #82c9ff;}
.wednesday { background-color: rgba(120, 197, 99, 0.53) ; border-top: solid 1px #78C563;}
.thursday { background-color: rgba(130, 201, 255, 0.49) ; border-top: solid 1px #82c9ff;}
.friday { background-color: rgba(120, 197, 99, 0.53) ; border-top: solid 1px #78C563;}
.saturday { background-color: rgba(88, 88, 88, 0.49) ; border-top: solid 1px #000000;}
.sunday { background-color:rgba(88, 88, 88, 0.49) ; border-top: solid 1px #000000;}

.title {
  float: left;
  height: 50px;
  width: 100px;
  border-top: none;
}
.slot {
  float: left;
  height: 25px;
  width: 100px;

}

.rail {
  width: 40px;
}
