// Place all the styles related to the day controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  font-family: arial;
}

#calendar{
  float: left;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 750px;
  cursor: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.monday { background-color: rgba(76, 103, 255, 0.51); border-top: solid 1px #679bcd;}
.tuesday { background-color: rgba(130, 201, 255, 0.49) ; border-top: solid 1px #82c9ff;}
.wednesday { background-color: rgba(76, 103, 255, 0.51) ; border-top: solid 1px #679bcd;}
.thursday { background-color: rgba(130, 201, 255, 0.49) ; border-top: solid 1px #82c9ff;}
.friday { background-color:  rgba(76, 103, 255, 0.51)  ; border-top: solid 1px #679bcd;}
.saturday { background-color: rgba(126, 126, 126, 0.48); border-top: solid 1px #1f1f1f;}
.sunday { background-color:rgba(126, 126, 126, 0.48) ; border-top: solid 1px #1f1f1f;}

.title {
  float: left;
  height: 35px;
  width: 100px;
  border-top: none;
  text-align: center;
  padding-top: 15px
}
.slot {
  float: left;
  height: 25px;
  width: 100px;

}
.rail {
  width: 40px;
  text-align: right;
  padding-right: 10px;
}

.lozenge {
  border: 1px solid #ff33aa;
  background-color: rgba(240, 51, 170, 0.48);
  border-radius: 6px;

  input {
    width: 95%;
    border: none;
    background: none;
    border-bottom: 1px dotted #7e2f63;
    height: 8px;
    font-size: 9px;
  }
}

.close-x-icon{
  position: absolute;
  position-bottom: 0px;
  right: 0px;
  bottom: 0px;
  padding: 2px 2px 2px 2px;
}
