<h1>Day Calendar</h1>

<div id="calendar">
  <div class="monday title">Monday</div>
  <div class="tuesday title">Tuesday</div>
  <div class="wednesday title">Wednesday</div>
  <div class="thursday title">Thursday</div>
  <div class="friday title">Friday</div>
  <div class="saturday title">Saturday</div>
  <div class="sunday title">Sunday</div>

  <% 7.times do %>

    <% 12.times do %>

      <div>x</div>

    <% end %>

  <% end %>

</div>